*{
    margin: 0;
    padding: 0;
}
.top-banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.banner-content{
    padding: 175px 200px 130px 200px;
    text-align: center;
    color: white;
}
.banner-content h1{
    font-weight: 700;
    font-size: 40px;
   
}
.banner-content p{
    line-height: 30px;
    color: white;
    
}
.donate-now{
    padding: 16px 12px;
    background-color: #FF5959;
    text-decoration: none;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}
.donate{
    width: 60%;
    
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 10px;
   text-align: center;
}

 p{
    line-height: 25px;
    color: #707070;

}
.donate-amount{
    display: flex;
    
}
.amount{
    margin-left: 30px;
    background-color: #FAFAFA;
   
    padding: 25px 10px;
    border-radius: 5px;
    color: #707070;
}
.amount1{
    color: #707070;
    margin-left: -20px;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 25px 10px;
}
.second{
    background-color:#FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}
.other-amount input {
    color: #B3B3B3;
   height: 40px;
    border: 0px solid;
    border-bottom: 1px solid gray;
    width: 100%;  
}
 input[type="text"]::placeholder{
    text-align: center;  
}
.todonate h1{
    font-size: 20px;
}
.all-donate-plan{
    display: flex;
    
}
.donate-header{
    text-align: center;
    margin: 0% 20% 0% 20%;
}
.donate-plan {
    width: 80%;
    
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 50px;
    border-radius: 10px;
   text-align: left;
}
.donate-plan p{
    text-align: justify;
}
.one {
    background-color: #EEF6F7;
   padding: 50px 20px;
}
.two {
    background-color: #FFEFEF;
    padding: 50px 20px;
}
.three {
    background-color: #FFF4D6;
    padding: 50px 20px;
}
.newslatter{
    text-align: center;
    width: 80%;
    margin-left: 10%;

}
.newslatter-header p{
    margin-bottom: -40px;
}
.subscribe-form{
    background-color: #FFF4D6;
    padding:60px;
}
.subscribe-form input{
    width: 300px;
    height: 48px;
    background-color: #D9D9D9;
    border: 0px solid;
    border-radius: 5px;
}
.subscribe{
    padding: 16px 12px;
    background-color: #FF5959;
    text-decoration: none;
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-weight: 700;
    margin-left: -10px;
}
